{% load static %}
<html>
    <head>
        <title>FRONT-END:forum</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">FRONT-END:forum</a></h1>
            <p class="text">Treść forum dostępna po zalogownaiu się!</p>
            {% if not user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'login' %}" class="top-menu"><span > ZALOGUJ SIĘ! </span></a>
             <a class="btn btn-default" href="{% url 'register' %}" class="top-menu"> DOŁĄCZ! </a>
            {% endif %}
            {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_list' %}" class="top-menu"><span> STRONA GŁÓWNA </span></a>
            <a class="btn btn-default" href="{% url 'post_new' %}" class="top-menu" ><span >UTRÓRZ WPIS</span></a>
            {% endif %}
            {% if user.is_authenticated %}
            <p class="text">Witaj {{ user.username }}!</p>
            <p><a class="btn btn-default" href="{% url 'logout' %}">WYLOGUJ SIĘ!</a></p>
            {% endif %}
        </div>

        {% if user.is_authenticated %}

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% endif %}
    </body>
</html>